@font-face {
    font-family: 'robotogras';
    src: url(polices/robotogras.ttf);
}
@font-face {
    font-family: 'robotomed';
    src: url(polices/robotomed.ttf);
}
@font-face {
    font-family: 'robotofin';
    src: url(polices/robotofin.ttf);
}
@font-face {
    font-family: 'robotolight';
    src: url(polices/robotolight.ttf);
}
@font-face {
    font-family: 'shrikhand';
    src: url(polices/shrikhand.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
$couleurb: #99e2d0;
.shrikhand {
    font-family: shrikhand;
}
.robotolight {
    font-family: robotolight;
}
.robotofin {
    font-family: robotofin;
}
.robotogras {
    font-family: robotogras;
}
.robotomed {
    font-family: robotomed;
}
.baspage {
    background-color: #353535;
    padding: 20px;
    width: 100%;
    .logo2 {
        color: white;
        padding-bottom: 20px;
        font-size: larger;
    }
}
.liensico {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: center;
    .lienico {
        color: white;
    }
    .lienico1 {
        color: white;
        padding-left: 17px;
    }
    .lienico2 {
        color: white;
        padding-left: 10px;
    }
    .icobas {
        color: white;
    }
}
i.fas.fa-hands-helping {
    color: white;
}
.logo1 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: x-large;
}
.fas.fa-arrow-left {
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
}
.imgresto {
    width: 100%;
}
.divmenu {
    position: relative;
    .menu {
        background-color: #f6f6f6;
        position: absolute;
        top: -35px;
        width: 100%;
        border-radius: 30px;
        .titre {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 25px;
            padding-right: 20px;
            padding-left: 15px;
            .titreresto {
                font-size: x-large;
            }
        }
    }
}
i.far.fa-heart:hover {
    font-weight: 800;
    background: linear-gradient(to bottom right, #f075da, #a45cdc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
i.far.fa-heart {
    font-size: x-large;
    &:hover {
        font-weight: 800;
        background: linear-gradient(to bottom right, #f075da, #a45cdc);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.entrees {
    padding: 15px;
    .titreentrees {
        padding-bottom: 20px;
        &::after {
            width: 40px;
            height: 3px;
            background: $couleurb;
            content: " ";
            display: block;
            position: absolute;
        }
    }
}
.plats {
    padding: 15px;
    .titreplats {
        padding-bottom: 20px;
        &::after {
            width: 40px;
            height: 3px;
            background: $couleurb;
            content: " ";
            display: block;
            position: absolute;
        }
    }
}
.desserts {
    padding: 15px;
    .titredesserts {
        padding-bottom: 20px;
        &::after {
            width: 40px;
            height: 3px;
            background: $couleurb;
            content: " ";
            display: block;
            position: absolute;
        }
    }
}
.plat {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 2px 1px 8px 0px #b7b7b7;
    .divprix {
        display: flex;
    }
    .prix {
        align-self: flex-end;
        font-family: robotomed;
        margin: 10px;
        margin-right: 20px;
        
    }
    .active {
            background-color: $couleurb;
            width: 60px;
            border-radius: 0px 15px 15px 0px;
            display: none;
            .icocheck {
                align-self: center;
                position: relative;
                bottom: -2px;
                font-size: larger;
                color: white;
            }
    }
    .texteplat {
        margin: 10px;
    }
}
.plat:hover .active {
    display: flex;
    animation: remplir 0.3s;
    justify-content: center;
}
@keyframes remplir {
    0% {
        width: 0px;
    }
    100% {
        width: 60px;
    }
}
.nomplat {
    font-family: robotomed;
    padding-bottom: 3px;
}
.description {
    font-family: robotolight;
}
.commander {
    padding: 14px;
    background: linear-gradient(#ef74da, #a45cdc);
    border-radius: 26px;
    color: white;
    width: 160px;
    text-align: center;
    &:hover {
        box-shadow: 2px 4px 13px 5px #c9c9ca;;  
    }
}
.liencom {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 10px;
}
@media screen and (min-width: 700px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
    }
    .titre {
        width: 100%;
    }
    .plats {
        width: calc(33% - 30px);
    }
    .entrees {
        width: calc(33% - 30px);
    }
    .desserts {
        width: calc(33% - 30px);
    }
}