@font-face {
  font-family: "robotogras";
  src: url(polices/robotogras.ttf);
}
@font-face {
  font-family: "robotomed";
  src: url(polices/robotomed.ttf);
}
@font-face {
  font-family: "robotofin";
  src: url(polices/robotofin.ttf);
}
@font-face {
  font-family: "robotolight";
  src: url(polices/robotolight.ttf);
}
@font-face {
  font-family: "shrikhand";
  src: url(polices/shrikhand.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.shrikhand {
  font-family: shrikhand;
}

.robotolight {
  font-family: robotolight;
}

.robotofin {
  font-family: robotofin;
}

.robotogras {
  font-family: robotogras;
}

.robotomed {
  font-family: robotomed;
}

.baspage {
  background-color: #353535;
  padding: 20px;
  width: 100%;
}
.baspage .logo2 {
  color: white;
  padding-bottom: 20px;
  font-size: larger;
}

.liensico {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  align-items: center;
}
.liensico .lienico {
  color: white;
}
.liensico .lienico1 {
  color: white;
  padding-left: 17px;
}
.liensico .lienico2 {
  color: white;
  padding-left: 10px;
}
.liensico .icobas {
  color: white;
}

i.fas.fa-hands-helping {
  color: white;
}

.logo1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: x-large;
}

.fas.fa-arrow-left {
  position: absolute;
  top: 15px;
  left: 15px;
  color: black;
}

.imgresto {
  width: 100%;
}

.divmenu {
  position: relative;
}
.divmenu .menu {
  background-color: #f6f6f6;
  position: absolute;
  top: -35px;
  width: 100%;
  border-radius: 30px;
}
.divmenu .menu .titre {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 15px;
}
.divmenu .menu .titre .titreresto {
  font-size: x-large;
}

i.far.fa-heart {
  font-size: x-large;
}
i.far.fa-heart:hover {
  font-weight: 800;
  background: linear-gradient(to bottom right, #f075da, #a45cdc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: coeur 1200ms;
}

@keyframes coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entrees {
  padding: 15px;
  animation: opaqueentree 3s;
  position: relative;
  top: 0px;
}
.entrees .titreentrees {
  padding-bottom: 20px;
}
.entrees .titreentrees::after {
  width: 40px;
  height: 3px;
  background: #99e2d0;
  content: " ";
  display: block;
  position: absolute;
}

.plats {
  padding: 15px;
  animation: opaqueplat 3s;
  position: relative;
  top: 0px;
}
.plats .titreplats {
  padding-bottom: 20px;
}
.plats .titreplats::after {
  width: 40px;
  height: 3px;
  background: #99e2d0;
  content: " ";
  display: block;
  position: absolute;
}

.desserts {
  padding: 15px;
  animation: opaquedessert 3s;
  position: relative;
  top: Opx;
}
.desserts .titredesserts {
  padding-bottom: 20px;
}
.desserts .titredesserts::after {
  width: 40px;
  height: 3px;
  background: #99e2d0;
  content: " ";
  display: block;
  position: absolute;
}

@keyframes opaqueentree {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    top: 100px;
  }
  50% {
    opacity: 1;
    top: 0px;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opaqueplat {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opaquedessert {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.plat {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 2px 1px 8px 0px #b7b7b7;
}
.plat .divprix {
  display: flex;
}
.plat .prix {
  align-self: flex-end;
  font-family: robotomed;
  margin: 10px;
  margin-right: 20px;
}
.plat .active {
  background-color: #99e2d0;
  width: 60px;
  border-radius: 0px 15px 15px 0px;
  display: none;
}
.plat .active .icocheck {
  align-self: center;
  position: relative;
  bottom: -2px;
  font-size: larger;
  color: white;
}
.plat .texteplat {
  margin: 10px;
  width: calc(100% - 80px);
}

.plat:hover .active {
  display: flex;
  animation: remplir 0.3s;
  justify-content: center;
}

.plat:hover .texteplat {
  width: calc(100% - 140px);
}

@keyframes remplir {
  0% {
    width: 0px;
  }
  100% {
    width: 60px;
  }
}
.nomplat {
  font-family: robotomed;
  padding-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-family: robotolight;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commander {
  padding: 14px;
  background: linear-gradient(#ef74da, #a45cdc);
  border-radius: 26px;
  color: white;
  width: 160px;
  text-align: center;
}
.commander:hover {
  box-shadow: 2px 4px 13px 5px #c9c9ca;
}

.liencom {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 10px;
}

@media screen and (min-width: 700px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
  }

  .titre {
    width: 100%;
  }

  .plats {
    width: calc(33% - 30px);
  }

  .entrees {
    width: calc(33% - 30px);
  }

  .desserts {
    width: calc(33% - 30px);
  }

  .divimgresto {
    height: 500px;
    overflow: hidden;
    position: relative;
  }
}
@media screen and (min-width: 790px) {
  .imgresto {
    position: absolute;
    top: -18%;
  }
}
@media screen and (min-width: 1300px) {
  .imgresto {
    top: -50%;
  }
}

/*# sourceMappingURL=style_menu.css.map */
