@font-face {
  font-family: "robotogras";
  src: url(polices/robotogras.ttf);
}
@font-face {
  font-family: "robotomed";
  src: url(polices/robotomed.ttf);
}
@font-face {
  font-family: "robotofin";
  src: url(polices/robotofin.ttf);
}
@font-face {
  font-family: "robotolight";
  src: url(polices/robotolight.ttf);
}
@font-face {
  font-family: "shrikhand";
  src: url(polices/shrikhand.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#loader-container {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transform: scaleX(1);
  animation: disparaitre 2s ease-out;
  animation-fill-mode: forwards;
}

.loader {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-right-color: #9356dc;
  border-left-color: #9356dc;
  border-bottom-color: #99e2d0;
  border-top-color: #99e2d0;
  border-style: solid;
  border-width: 10px;
  animation: spin 2s linear infinite;
}

@keyframes disparaitre {
  0% {
    transform: scaleX(1);
  }
  99.99% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.shrikhand {
  font-family: shrikhand;
}

.robotolight {
  font-family: robotolight;
}

.robotofin {
  font-family: robotofin;
}

.robotogras {
  font-family: robotogras;
}

.robotomed {
  font-family: robotomed;
}

.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

#lieuparis {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 10px 0px 10px 0px;
  align-items: center;
  box-shadow: 0px 13px 7px -12px rgba(0, 0, 0, 0.3) inset;
}
#lieuparis .textlieu {
  padding-left: 10px;
  color: #353535;
  font-family: robotomed;
}
#lieuparis .icoloc {
  color: #353535;
}

#menuhaut {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menuhaut .menuhaut_titre {
  text-align: center;
  padding: 30px 18px 18px 18px;
  font-size: x-large;
}
#menuhaut .menuhaut_soustitre {
  text-align: center;
  padding: 0px 15px 18px 15px;
  font-size: large;
}

#boutonexplorer {
  background: linear-gradient(to bottom right, #f075da, #a45cdc);
  text-decoration: none;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 40px;
}
#boutonexplorer:hover {
  box-shadow: 2px 4px 13px 5px #cecdcd;
}
#boutonexplorer .explorer {
  color: white;
}

#Fonctionnement {
  padding: 35px 20px 40px 20px;
}

#etapes {
  padding: 25px 0px;
}

.etape {
  display: flex;
  flex-direction: row;
  padding: 25px;
  background-color: #fafafa;
  align-items: center;
  margin: 20px 10px;
  border-radius: 15px;
  background-color: #f6f6f6;
  box-shadow: -4px 4px 14px 0px #e6e4e4;
  position: relative;
}
.etape:hover {
  background-color: #f5edff;
  box-shadow: -4px 4px 14px 0px #d1cece;
}
.etape::before {
  position: absolute;
  background-color: #9356dc;
  content: "3";
  border-radius: 20px;
  width: 19px;
  text-align: center;
  left: -11px;
  color: white;
  padding: 2px;
  font-family: "robotomed";
}
.etape .nometape {
  padding-left: 20px;
}
.etape .icoetape {
  padding-left: 10px;
}

.etape1::before {
  content: "1";
}

.etape2::before {
  content: "2";
}

.icoactive {
  color: #9356dc;
}

i.fas.fa-bars.icoetape {
  color: grey;
}

i.fas.fa-mobile-alt.icoetape {
  color: grey;
}

#restaurants {
  padding: 45px 20px 30px 20px;
  background-color: #f6f6f6;
}

#lieux {
  padding: 30px 0px 30px 0px;
}

.restaurant {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 7px 8px 20px 2px #e1e1e1;
}
.restaurant .restobas {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant .restobas .nomresto {
  color: black;
  margin-bottom: 3px;
}
.restaurant .restobas .lieuresto {
  color: black;
}
.restaurant .divimgresto {
  display: flex;
  max-height: 210px;
  overflow: hidden;
}
.restaurant .divimgresto .imgresto {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: max-content;
}
.restaurant:hover {
  transform: scale(1.05);
}

i.far.fa-heart {
  font-size: x-large;
  color: black;
}
i.far.fa-heart:hover {
  font-weight: 800;
  background: linear-gradient(to bottom right, #f075da, #a45cdc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#baspage {
  background-color: #353535;
  padding: 20px;
}
#baspage .logo2 {
  color: white;
  padding-bottom: 20px;
  font-size: larger;
}

.liensico {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  align-items: center;
}
.liensico .lienico {
  color: white;
}
.liensico .lienico1 {
  color: white;
  padding-left: 17px;
}
.liensico .lienico2 {
  color: white;
  padding-left: 10px;
}
.liensico .icobas {
  color: white;
}

i.fas.fa-hands-helping {
  color: white;
}

@media screen and (min-width: 500px) {
  .logo {
    width: 200px;
  }

  .etape {
    justify-content: center;
  }
}
@media screen and (min-width: 604px) {
  .etape {
    justify-content: flex-start;
  }

  #etapes {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant {
    width: calc(50% - 24px);
    margin: 12px;
  }

  #lieux {
    display: flex;
    flex-wrap: wrap;
  }

  .restobas {
    height: 23%;
  }

  .divimgresto {
    max-height: none;
  }
}
@media screen and (min-width: 1000px) {
  .restaurant {
    width: calc(33% - 30px);
    margin: 15px;
  }
}
@media screen and (min-width: 1300px) {
  .restaurant {
    width: calc(25% - 30px);
  }
}

/*# sourceMappingURL=style.css.map */
